<br/>
<div class="row">
  <div class="col-sm-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Forgot your password?</h5>
        <p class="card-text">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>
          
            <div class="form-inline">
              <%= f.label :email, class:'col-sm-2' %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control' %>
              <%= f.submit "reset password", class:'btn btn-secondary' %>
            </div>
          <% end %>

        </p>
        <hr/>
        <p class="card-text"><small class="text-muted"><%= render "devise/shared/links" %></small></p>
        
      </div>
    </div>
  </div>

