<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">
    <%= link_to 'venues', root_path, class: 'navbar-brand gfont' %></a>
  <button class="navbar-toggler d-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li></li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
          
    <ul class="nav justify-content-end float-right">
    <% if user_signed_in? %>
      <li style="padding-right:10px"><%= link_to 'Home', root_path, class:'nav-item btn btn-outline-secondary' %></li>
      <li style="padding-right:10px"><%= link_to 'About', home_about_path, class:'nav-item btn btn-outline-secondary' %></li>
      <li style="padding-right:10px"><%= link_to 'Add Venue', (new_venue_path unless(user_signed_in?)), class:'nav-item btn btn-outline-secondary' %></li>
      <li style="padding-right:10px"><%= link_to 'Profile', edit_user_registration_path, class: 'nav-item btn btn-outline-secondary' %></li>
      <li style="padding-right:10px"><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-item btn btn-outline-secondary' %></li>
    <% else %>
      <li class="" style="padding-right:10px"><%= link_to 'Home', root_path, class:'nav-item btn btn-outline-secondary' %></li>
      <li class="" style="padding-right:10px"><%= link_to 'About', home_about_path, class:'nav-item btn btn-outline-secondary' %></li>
      <li class="" style="padding-right:10px"><%= link_to 'Add Venue', (new_venue_path unless(user_signed_in?)), class:'nav-item btn btn-outline-secondary' %></li>
      <li class="" style="padding-right:10px"><%= link_to 'Login', new_user_session_path, class: 'nav-item btn btn-outline-secondary' %></li>
      <li class="" style="padding-right:10px"><%= link_to 'Join', new_user_registration_path, class: 'nav-item btn btn-outline-secondary' %></li>
      </li>
    </ul>
      
    <% end %>
    </form>
  </div>
  <div class="d-lg-none .d-xl-block text-secondary" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</div>
  <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <% if user_signed_in? %>
    <a><%= link_to 'Home', root_path %></a>
    <a><%= link_to 'About', home_about_path %></a>
    <a><%= link_to 'Add Venue', (new_venue_path unless(user_signed_in?)) %></a>
    <a><%= link_to 'Profile', edit_user_registration_path %></a>
    <a><%= link_to 'Logout', destroy_user_session_path, method: :delete %></a>
  <% else %>
   <a><%= link_to 'Home', root_path %></a>
   <a><%= link_to 'About', home_about_path %></a>
   <a><%= link_to 'Add Venue', (new_venue_path unless(user_signed_in?)) %></a>
   <a><%= link_to 'Login', new_user_session_path %></a>
   <a><%= link_to 'Join', new_user_registration_path %></a>
  <% end %>
</div>
</nav>

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>
