<div class="row">
<div class="" style="background: url('https://s3.amazonaws.com/mctvenueimg/vHeaderMic1.png') center center;position: absolute;
                    width: 100%; height: 800px; top:0;left:0;z-index: -1 ">
  <%= render 'home/jambo' %>
    <div class="row">
        <br/>
        <div class="container-fluid">
            <p id="notice"><% notice %></p>
              <div id="venues" class="transitions-enabled centered clearfix masonry d-none d-lg-block" style="overflow-y: auto;">
                <% @venues.each do |venue| %>
                <div class="box">
                  <div class="card">
                    <%= link_to image_tag(venue.image.url(:medium)), venue %>
                    <div class="card-body">
                      <h6 class="card-title"><%= venue.description %></h6>
                      <p class="card-text fa-sm">
                        <%= venue.vType %>
                        <%= venue.vSize %>
                        <%= venue.num %>
                        <%= venue.location %><br/>
                        <small><span>by: </span><%= venue.user.name if venue.user %></small>
                        </p>
                        <% link_to 'Show', venue %>
                        <% if venue.user == current_user %>
                        <p class="card-text">
                          <small class="text-muted">
                          <%= link_to '', edit_venue_path(venue), class:'fas fa-edit fa-lg text-secondary float-right'%>
                          <% link_to '', venue, method: :delete, data: { confirm: 'Are you sure?' }, class:'fas fa-trash-alt fa-lg text-secondary' %>
                          </small></p>
                        </p>
                        <% end %>
                      
                    </div>
                  </div>
               </div>
                <% end %>
              </div>
            </div>
            <div id="venues" class="d-lg-none .d-xl-block" style="width:100%;">
                <% @venues.each do |venue| %>
                <div class="box" style="width:100%; padding-right:30px; padding-left: 20px; padding-bottom: 30px;">
                  <div class="card">
                    <%= link_to image_tag(venue.image.url(:medium)), venue %>
                    <div class="card-body">
                      <h6 class="card-title"><%= venue.description %></h6>
                      <p class="card-text fa-sm">
                        <%= venue.vType %>
                        <%= venue.vSize %>
                        <%= venue.num %>
                        <%= venue.location %><br/>
                        <small><span>by: </span><%= venue.user.name if venue.user %></small>
                        </p>
                        <% link_to 'Show', venue %>
                        <% if venue.user == current_user %>
                        <p class="card-text">
                          <small class="text-muted">
                          <%= link_to '', edit_venue_path(venue), class:'fas fa-edit fa-lg text-secondary float-right'%>
                          <% link_to '', venue, method: :delete, data: { confirm: 'Are you sure?' }, class:'fas fa-trash-alt fa-lg text-secondary' %>
                          </small></p>
                        </p>
                        <% end %>
                      
                    </div>
                  </div>
               </div>
                <% end %>
              </div>
            </div>
            
    </div>
    <div class="row float-right" >
        <br/>
        <%= will_paginate @venues, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, class:'text-center' %>
    </div>
</div>
</div>
<script>
</script>