<div class="float-right">
  <%= link_to 'New Venue', new_venue_path %>
</div>
<br>
<p id="notice"><%= notice %></p>

    <% @venues.each do |venue| %>
      <%= link_to image_tag(venue.image.url(:medium)), venue %><br/>
      <%= venue.description %>
      <%= venue.vType %>
      <%= venue.vSize %>
      <%= venue.num %>
      <%= venue.location %><br/>
      <span>by: </span><%= venue.user.name if venue.user %><br>
      <% link_to 'Show', venue %>
      
      <% if venue.user == current_user %>
      <%= link_to 'Edit', edit_venue_path(venue) %>
      <%= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      
    <% end %>



