<div class="row">
<div class="" style="background: url('https://s3.amazonaws.com/mctvenueimg/vHeaderMic1.png') center center;position: absolute;
                    width: 100%; height: 800px; top:0;left:0;z-index: -1 ">
  <%= render 'home/jambo' %>
    <div class="row">
        <br/>
        <div class="container-fluid">
            <p id="notice"><% notice %></p>
              <div id="venues" class="transitions-enabled centered clearfix masonry d-none d-lg-block" style="overflow-y: auto;">
                <% @venues.each do |venue| %>
                <div class="box">
                  <div class="card">
                    <%= link_to image_tag(venue.image.url(:medium)), venue %>
                    <div class="card-body">
                      <h6 class="card-title"><%= venue.description %></h6>
                      <p class="card-text fa-sm">
                        <%= venue.vType %>
                        <%= venue.vSize %>
                        <%= venue.num %>
                        <%= venue.location %><br/>
                        <small><span>by: </span><%= venue.user.name if venue.user %></small>
                        </p>
                        <% link_to 'Show', venue %>
                        <% if venue.user == current_user %>
                        <p class="card-text">
                          <small class="text-muted">
                          <%= link_to '', edit_venue_path(venue), class:'fas fa-edit fa-lg text-secondary float-right'%>
                          <% link_to '', venue, method: :delete, data: { confirm: 'Are you sure?' }, class:'fas fa-trash-alt fa-lg text-secondary' %>
                          </small></p>
                        </p>
                        <% end %>
                      
                    </div>
                  </div>
               </div>
                <% end %>
              </div>
            </div>
            <div id="venues" class="d-lg-none .d-xl-block" style="width:100%;">
                <% @venues.each do |venue| %>
                <div class="box" style="width:100%; padding-right:30px; padding-left: 20px; padding-bottom: 30px;">
                  <div class="card">
                    <%= link_to image_tag(venue.image.url(:medium)), venue %>
                    <div class="card-body">
                      <h6 class="card-title"><%= venue.description %></h6>
                      <p class="card-text fa-sm">
                        <%= venue.vType %>
                        <%= venue.vSize %>
                        <%= venue.num %>
                        <%= venue.location %><br/>
                        <small><span>by: </span><%= venue.user.name if venue.user %></small>
                        </p>
                        <% link_to 'Show', venue %>
                        <% if venue.user == current_user %>
                        <p class="card-text">
                          <small class="text-muted">
                          <%= link_to '', edit_venue_path(venue), class:'fas fa-edit fa-lg text-secondary float-right'%>
                          <% link_to '', venue, method: :delete, data: { confirm: 'Are you sure?' }, class:'fas fa-trash-alt fa-lg text-secondary' %>
                          </small></p>
                        </p>
                        <% end %>
                      
                    </div>
                  </div>
               </div>
                <% end %>
                <br/><br/>
              </div>
              <div class="container text-center form-inline">
                
                <div class="col-md-6">
                  <br/>
                   <h3>Looking for a venue?</h3>
                   <h4>Find a place fast & easy</h4>
                  <br/>
                  <button class="btn vbtnSave"> browse venues</button>
                  <br/><br/><br/><br/>
                </div>
                <div class="col-md-6">
                  <br/>
                  <h3>You own a venue?</h3>
                  <h4>Get more bookings through us</h4>
                  <br/>
                  <button class="btn vbtnSave"> add your venue</button>
                  <br/><br/><br/><br/>
                </div>
              </div>
              
              <footer class="footer-bs">
                <div class="row">
                	<div class="col-md-2 footer-brand animated fadeInLeft">
                    	<h2 class="gfont">venues</h2>
                        <p>this is the first Omani website that provids such serverses to the local vendors in Oman to host their event bla bla bla.</p>
                        <p>© 2018, All rights reserved</p>
                        <p>Developed by Ali Al-Tamimi</p>
                    </div>
                	<div class="col-md-3 footer-social animated fadeInUp d-none d-lg-block">
                    	<h4 class="gfontheader">Services</h4>
                    	<div class="col-md-12">
                            <ul class="pages">
                                <li><a href="#">Adding venues</a></li>
                                <li><a href="#">Browsing venues</a></li>
                                <li><a href="#">manage bookings</a></li>
                                <li><a href="#">plan future events</a></li>
                            </ul>
                        </div>
                    	<div class="col-md-6">
                            <ul class="list">
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                	<div class="col-md-2 footer-social animated fadeInDown">
                    	<h4 class="gfontheader">Follow Us</h4>
                    	<ul>
                        	<li><a href="#">Facebook</a></li>
                        	<li><a href="#">Twitter</a></li>
                        	<li><a href="#">Instagram</a></li>
                        	<li><a href="#">Snapchat</a></li>
                        </ul>
                    </div>
                  <div class="col-md-2 footer-social">
                    <h4 class="gfontheader">CUSTOMER SUPPORT</h4>
                    <ul class="list">
                      <li style="color:#6b6b6d;">abc@gmail.com</li>
                      <li style="color:#6b6b6d;">qbz@gmail.com</li>
                      <li style="color:#6b6b6d;">+969-99887766</li>
                    </ul>
                  </div>
                	<div class="col-md-3 footer-ns animated fadeInRight d-none d-lg-block">
                    	<h4 class="gfontheader">Browse new venues</h4>
                        <p>a new venue is created everyday</p>
                        <p>
                            <div class="input-group">
                                <button class="btn btn-secondary col-md-9" type="button">Browse all venues</button>
                            </div><!-- /input-group -->
                         </p>
                    </div>
                </div>
                
            </footer>
            </div>
            
    </div>
    <div class="row float-right" >
        <br/>
        <% will_paginate @venues, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, class:'text-center' %>
    </div>
</div>
</div>
<script>
</script>