<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @venue.description %>
</p>

<p>
  <strong>Vtype:</strong>
  <%= @venue.vType %>
</p>

<p>
  <strong>Vsize:</strong>
  <%= @venue.vSize %>
</p>

<p>
  <strong>Num:</strong>
  <%= @venue.num %>
</p>

<p>
  <strong>Location:</strong>
  <%= @venue.location %>
</p>
<p>
  <%= image_tag @venue.image.url(:medium) %>
</p>
<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
