<div class="" style="background: url('https://s3.amazonaws.com/mctvenueimg/vHeaderMic1.png') center top;position: absolute;
                    width: 100%; height: 60px; top:0;left:0;z-index: -1 ">
  <br/><br/><br/><br/>
<p id="notice"><%= notice %></p>

  <div class="container-fluid form-inline">
    <div class="col-md-3 card" style=" ">
      <br>
      <%= image_tag @venue.image.url(:medium) %>
      <h4><%= @venue.description %></h4>
      <p>
        <strong>Type:</strong>
        <%= @venue.vType %>
      </p>
      <p>
        <strong>Size:</strong>
        <%= @venue.vSize %>
      </p>
      <p>
        <strong>Num of people:</strong>
        <%= @venue.num %>
      </p>
      <p>
      <strong>Location:</strong>
      <%= @venue.location %>
    </p>
    <p>
      <div class="mapouter">
        <div class="gmap_canvas">
          <iframe width="290" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=muscat&t=&z=7&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
          <a href="https://www.pureblack.de">pureblack.de</a></div>
          <style>.mapouter{text-align:right;height:300px;width:290px;}.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:290px;}</style></div>
    </p> 
    
    <% if @venue.user == current_user %>
      
    <% end %>
    
    <%= link_to '', root_path, class:'fas fa-angle-left fa-lg text-secondary' %>
    <br/>
    </div>
    <div class="col-md-1"> </div>
    <div class="col-md-8 card" style="border:none; vertical-align:top;">
      <br/>
    <h4>book this venue</h4>
    <br/>
    <hr/>
    <div class="form-inline">
      <label class="col-md-2">Name</label>
      <input type="text" class="form-control col-md-8">
    </div>
    <hr/>
    <div class="form-inline">
      <label class="col-md-2">Event type</label>
      <input type="text" class="form-control col-md-8">
    </div>
    <hr/>
    <div class="form-inline">
      <label class="col-md-2">Guests</label>
      <input type="text" class="form-control col-md-8">
    </div>
    <hr/>
    <div class="form-inline">
      <label class="col-md-2">Date</label>
      <input type="text" class="form-control col-md-8">
    </div>
    <hr/>
    <div class="form-inline">
      <label class="col-md-2">Requests</label>
      <textarea type="text" class="form-control col-md-8" rows="5"></textarea>
    </div>
    <hr/>
    <div class="">
      <label class="col-md-2">Additionals</label>
      <div class="funkyradio gfontheader form-inline">
        <div class="funkyradio-warning col-md-3">
              <input type="checkbox" name="checkbox" id="fchk1"/>
              <label for="fchk1">wi-fi</label>
          </div>
          <div class="funkyradio-warning col-md-3">
              <input type="checkbox" name="checkbox" id="fchk2"/>
              <label for="fchk2"> &nbsp; projector</label>
          </div>
          <div class="funkyradio-warning col-md-3">
              <input type="checkbox" name="checkbox" id="fchk3"/>
              <label for="fchk3">food</label>
          </div>
          <div class="funkyradio-warning col-md-3">
              <input type="checkbox" name="checkbox" id="fchk4"/>
              <label for="fchk4">board</label>
          </div>
          <div class="funkyradio-warning col-md-3">
              <input type="checkbox" name="checkbox" id="fchk5"/>
              <label for="fchk5">coffee</label>
          </div>
          <div class="funkyradio-warning col-md-3">
              <input type="checkbox" name="checkbox" id="fchk6"/>
              <label for="fchk6">tea</label>
          </div>
          <div class="funkyradio-warning col-md-3">
              <input type="checkbox" name="checkbox" id="fchk7"/>
              <label for="fchk7">laptop</label>
          </div>
          <div class="funkyradio-warning col-md-3">
              <input type="checkbox" name="checkbox" id="fchk8"/>
              <label for="fchk8">PC</label>
          </div>
      </div>
    </div>
    <br/><br/><br/>
    <div class="form-inline">
      <button type="button" class="btn vbtnSave btn-block">send request</button>
    </div>
    <br/>
    </div>
  </div>
</div>