<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @venue.image.url(:medium) %>
</p>
<p>
  <%= @venue.description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @venue.vType %>
</p>

<p>
  <strong>Size:</strong>
  <%= @venue.vSize %>
</p>

<p>
  <strong>Num of people:</strong>
  <%= @venue.num %>
</p>

<p>
  <strong>Location:</strong>
  <%= @venue.location %>
</p>

<% if @venue.user == current_user %>
  <%= link_to 'Edit', edit_venue_path(@venue) %> |
<% end %>
<%= link_to 'Back', venues_path %>
