<div style="background: url('https://s3.amazonaws.com/mctvenueimg/vHeaderMic1.png') no-repeat center center;position: absolute;
                    width: 100%;top:0;left:0;z-index: -1 ">
  <br/><br><br/><br/><br/>
  
      <div class="card mx-auto" style="background-color: transparent; border:none; width:300px;">
      <div class="card-body">
        <h5 class="card-title text text-secondary">Log in</h5>
        <p class="card-text">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-group">
                <%= f.label :email, class:'text-secondary' %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control bgTransparent' %>
              </div>
            
              <div class="form-group">
                <%= f.label :password, class:'text-light' %><br />
                <%= f.password_field :password, autocomplete: "off", class:'form-control bgTransparent' %>
              </div>
            
              <% if devise_mapping.rememberable? -%>
                <div class="form-group checkbox checkbox-warning">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me, class:'h6 text-light' %>
                </div>
              <% end -%>
            
              <div class="actions">
                <%= f.submit "Log in", class:'btn btn-warning float-right' %>
                <br/>
                <br/>
              </div>
            <% end %>
          </p>
          <div class="">
            <% flash.each do |name, msg| %>
              <small><%= content_tag(:div, msg, class: "alert alert-danger") %></small>
            <% end %>
         </div>
          <hr>
          <div class="card bgTransparent">
            <div class="card-body">
              <p class="card-text">
                <small><%= render "devise/shared/links" %></small>
              </p>
            </div>
          </div>
      </div>
    </div>

<br/><br><br/><br/><br/><br/>
</div>
